/* Layout for desktop version */

body {
  background-image: url(/images/meeenz.jpg);
  background-color: white;
  background-repeat: no-repeat;
  background-position: center top;
  font-family: "Droid Sans", Verdana, Helvetica, sans-serif;
}

p,h1,ul {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: .5em 1em .5em 1em;
}

h1 {
  font-family: "EB Garamond", Georgia, "Times New Roman", serif;
  font-variant: small-caps;
  text-align: center;
  margin-top: 1em;
  font-weight: bold;
  font-size: 3em;
}

ul {
  list-style-position: inside;
}

a:link {
  color: white;
  font-weight: normal;
  text-decoration: none;
}

a:visited {
  color: gray;
  text-decoration: none;
}

a:hover {
  color: gray;
  text-decoration: none;
}

a:active {
  color: gray;
  text-decoration: none;
}

/* Layout for mobile version */

@media handheld, only screen and (max-width: 767px) {

.examplecontainer {

body {

}

}



@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/* An example of how to override an image with one twice the size for iPhone 4. Specify the original pixel size with background-size.
.download {
background: url(../img/downarrow@2x.png) no-repeat;
background-size: 27px 28px;
}
*/

}